:root {
  --body-color: #dee2e6;
  --body-background-color: #10202b;
  --body-link: #3a94d4;
  --body-link-hover: #367db0;
}

header {
  border-bottom: 1px solid var(--body-color);
}

body {
  min-height: 100vh;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  color: var(--body-color);
  background-color: var(--body-background-color);
}

main {
  margin: 0.5rem 0 2rem 0;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 0.5rem 0;
  border-top: 1px solid var(--body-color);
}

a {
  text-decoration: none;
  color: var(--body-link);
}

a:hover {
  color: var(--body-link-hover);
  font-weight: 600;
}

h1 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.active {
  color: #fff;
}

nav ul li {
  display: inline-block;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

nav ul li a {
  color: hsla(0, 0%, 100%, 0.55);
}

nav ul li a:hover {
  color: hsla(0, 0%, 100%, 0.75);
}

.post-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 0.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .post-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.post-list .card {
  border: 0.03rem solid hsla(0, 0%, 100%, 0.75);
  padding: 0.8rem;
  text-align: center;
}

.post-list .card h3 {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.h-100 {
  height: 100% !important;
}
